* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding:  0;
}

search-container {
    margin-top:   50px;
}

input { 
    Width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid # ccc;
    border-radious: 5px;
    outline: none;
}
#searchResult {
    margin-top: 20px;
}
